
.scrollcards {
    background-color: #fff;
    overflow: auto;
    white-space: nowrap;
  }
  
  ::-webkit-scrollbar {
      width: 0px;
      height: 0px;
      background: transparent;
  }
  
  div.scrollcards .card {
      display: inline-block;
      padding: 14px;
      text-decoration: none;
      height: auto; 
      width: 300px;
  }